* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  color: #fff3f1;
  line-height: 1.6;
  background-color: #1e1e1e;
  overflow: hidden;
  font-size: clamp(0.875rem, 0.7rem + 0.5vw, 1.25rem);
}
button {
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fade-in {
  animation: FadeIn .5s;
  animation-fill-mode: both;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: FadeOut .5s;
  animation-fill-mode: both;
}
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}