body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* ダイアログ外のクリックを防ぐためuser-selectを無効化 */
  user-select: none;
  background-color: transparent
}

.dialog-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

/* 背景 */
.dialog-bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  filter: url('#button-grunge-filter');
  z-index: -2;
}
.dialog-noise {
  position: absolute;
  inset: 0;
  opacity: 0.2;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
  z-index: -1;
}

.dialog-message {
  font-size: 1rem;
  white-space: pre-wrap;
  filter: url('#button-grunge-filter');
  flex: 1;
}

.dialog-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
}

.dialog-button-container:has(.dialog-button-item:only-child) {
  grid-template-columns: 1fr;
  width: calc((420px - 2rem * 2 - 1rem) / 2);
  margin: 0 auto;
}

/* ボタンアイテム */
.dialog-button-container .dialog-button-item {
  display: inline-block;
  position: relative;
  width: 100%;
}


.dialog-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: calc((420px - 2rem * 2 - 1rem) / 2);
  padding: .6rem 1.2rem;
  font-size: .9rem;
  letter-spacing: 0.1rem;
  border: 1.5px solid #ccc;
  filter: url('#button-grunge-filter');
  transition: all 0.3s ease;
}
/* 内側の枠 */
.dialog-button::after {
  content: "";
  position: absolute;
  top: 4px; left: 4px; right: 4px; bottom: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-out;
}
.dialog-button:hover {
  border-color: #fff3f1;
}
.dialog-button:hover::after {
  border-color: #ffd700; /* Gold */
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.6), inset 0 0 8px rgba(255, 215, 0, 0.3);
}
.dialog-button:active {
  transform: translateY(2px);
  filter: url('#button-grunge-filter') brightness(0.8);
}