.page.options-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.options-main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5rem;
  padding: 2rem;
}
/* 斜めのボタン */
.options-tab-button-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  justify-content: center;
  align-content: center;
  width: fit-content;
  transform: rotate(45deg);
}
.options-tab-button-container > * {
  transform: rotate(-45deg);
}
.options-tab-button-container > :nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
.options-tab-button-container > :nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
.options-tab-button-container > :nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}
/* タブコンテンツ */
.options-tab-content-container {
  flex: 1;
  position: relative;
  padding: 2rem;
  overflow-y: auto;
}
.options-tab-content-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: -1;
  filter: url('#button-grunge-filter');
}
.options-tab-content-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 700' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
  z-index: -2;
  filter: url('#button-grunge-filter');
}
.options-tab-content-container.active {
  animation: slideIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.options-tab-content-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .7rem;
  padding-bottom: .7rem;
  border-bottom: 1px solid #444;
  filter: url('#button-grunge-filter');
}
.options-tab-content-container p {
  font-size: 1rem;
  line-height: 1.5;
}

/* 遷移ボタン */
.options-button-container {
  display: flex;
  justify-content: space-around;
}

/* 設定項目 */
.options-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options-list-item label {
  font-size: 1rem;
  filter: url('#button-grunge-filter');
}

.options-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.options-button-container button {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: rgba(20, 20, 20, 0.5);
  transition: all 0.3s ease;
}
.options-button-container button::before {
  content: "";
  position: absolute;
  inset: -4px;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid #444;
  z-index: -1;
  filter: url('#button-grunge-filter');
  transition: all 0.3s ease;
}
.options-button-container button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid #444;
  z-index: -1;
  filter: url('#button-grunge-filter');
  transition: all 0.3s ease;
}
.options-button-container button.active::before {
  border-color: #ffd700;
}
.options-button-container button.active::after {
  border-color: #ffd700;
}

/* 戻るボタン */
.options-back-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}