.start-layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.start-layout-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.start-layout-fire-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  mix-blend-mode: screen;
  opacity: 0.8;
  pointer-events: none;
}

.start-layout-content-layer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}