.title-logo-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: clamp(150px, 25vw, 350px);
  height: auto;
}

.top-button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top-button-container.active {
  animation: fadeUp 2s ease-out forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    bottom: 10%;
    transform: translate(-50%, 50%);
  }
  to {
    opacity: 1;
    bottom: 10%;
    transform: translate(-50%, 0);
  }
}