.game-menu-component-container {
  position: absolute;
  inset: 0;
  z-index: 9999;
}

.game-menu-component-overlay-blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s ease;
}
.game-menu-component-overlay-background {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}
.game-menu-component-overlay-blur.active {
  backdrop-filter: blur(10px);
}
.game-menu-component-overlay-background.active {
  background-color: rgba(0, 0, 0, 0.5);
}


.game-menu-component-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
}
.game-menu-component-button-container.active {
  opacity: 1;
}