.topbar-component-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 8px;
  z-index: 0;
}

.topbar-component-container * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.topbar-component-background {
  position: absolute;
  inset: 0;
  background-color: #000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  filter: url('#button-grunge-filter');
  z-index: -1;
}
.topbar-component-background::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.3;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
}
.topbar-component-background::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.5px solid #888;
  filter: url('#button-grunge-filter');
  z-index: -1;
}

.topbar-component-left-container {
  display: flex;
  flex-direction: row;
  gap: .7rem;
}

/* 旗 */
.topbar-component-flag-container {
  position: relative;
  width: clamp(60px, 8vw, 100px);
  aspect-ratio: 3/2;
  align-self: center;
  cursor: pointer;
}
.topbar-component-flag-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topbar-component-flag-overlay {
  position: absolute;
  inset: 0;
  background: url('/assets/images/CountryFlags/flag_shadow.jpg') no-repeat center center;
  background-size: contain;
  mix-blend-mode: multiply;
}

/* パラメータ */
.topbar-component-status-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.topbar-component-status-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  gap: 3px;
  border-right: 1px solid #888;
}
.topbar-component-status-item:last-child {
  border-right: none;
}
.topbar-component-status-item-icon {
  width: 2rem;
  height: 2rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #aaa;
}
@media (max-width: 900px) {
  .topbar-component-status-item-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.topbar-component-status-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  filter: url('#button-grunge-filter');
  box-shadow:
    inset 0 0 8px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.1),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 .5rem;
  border-radius: calc(.9rem + 1rem / 2);
}
@media (max-width: 900px) {
  .topbar-component-status-item-text {
    font-size: 0.8rem;
  }
}

.topbar-component-status-item-icon.legitimacy {
  mask-image: url('/assets/images/TopBar/legitimacy.svg');
}
.topbar-component-status-item-icon.politicalPower {
  mask-image: url('/assets/images/TopBar/politicalPower.png');
}
.topbar-component-status-item-icon.economicStrength {
  mask-image: url('/assets/images/TopBar/economicStrength.png');
}
.topbar-component-status-item-icon.culturalUnity {
  mask-image: url('/assets/images/TopBar/culturalUnity.png');
}
.topbar-component-status-item-icon.deployedMilitary {
  mask-image: url('/assets/images/TopBar/deployedMilitary.png');
}
.topbar-component-status-item-icon.militaryEquipment {
  mask-image: url('/assets/images/TopBar/militaryEquipment.png');
}
.topbar-component-status-item-icon.mechanization {
  mask-image: url('/assets/images/TopBar/mechanization.png');
}

/* 右側 */
.topbar-component-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}
.topbar-component-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  filter: url('#button-grunge-filter');
}

.topbar-component-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #888;
  width: 2rem;
  height: 2rem;
  filter: url('#button-grunge-filter');
  cursor: pointer;
}
.topbar-component-menu-icon {
  width: 100%;
  height: 100%;
  mask-image: url('/assets/images/TopBar/hamburger_menu.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #fff3f1;
}